#emery-img{
    max-width: 320px !important;
}

#who-am-i-container {
    max-width: 880px;
}

.carousel-caption{
    position: relative;
    left: 0;
    top: 0;
}

.pdfobject-container {
    height: 600px;
}

.carousel-indicators {
    bottom: -20px;
}