<div class="d-flex justify-content-center">
  <div ngbDropdown (openChange)="onRouteDropdownOpenChange($event)">
    <h1 type="button" class="display-1 text-info" id="headerDropdown" ngbDropdownToggle>
      {{currentRouteName}}
    </h1>
    <div ngbDropdownMenu aria-labelledby="headerDropdown">
      <button *ngFor="let routeName of this.routeNames"
        routerLinkActive="active" 
        routerLink="{{routeName}}" 
        ariaCurrentWhenActive="page" 
        ngbDropdownItem>
          <h1>{{routeName}}</h1>
      </button>
    </div>
  </div>
  <h1 class="display-1">.emeryporter.net</h1>
</div>
<router-outlet (activate)="onRouteActivated()"></router-outlet>
